<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: copy"></div>
<body>
<div th:replace="menu :: copy"></div>



<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div>
    <li th:text="${numberOfCarts}"></li>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="dropdown">
                <button class="filter-btn btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Categories
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li th:each="cat : ${categories}"><a th:href="@{~/category/{path}(path=${cat.id})}"><strong
                            th:text="${cat.name}">Category Title</strong></a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="dropdown">
                <button class="filter-btn btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Suppliers
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li th:each="sup : ${suppliers}"><a th:href="@{~/supplier/{path}(path=${sup.id})}"><strong
                            th:text="${sup.name}">Category Title</strong></a></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product
                        description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success add-to-cart" th:id="'product-' + ${prod.id}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>