<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<div th:replace="head :: copy"></div>
<body>
<div th:replace="menu :: copy"></div>
<div class="container" id="login" style="width:auto; margin:0 auto;">
<h1>Login page</h1>

    <div id="wrong-credentials" class="col-lg-4">
        <p class="wrong-credentials" th:text="${credentials != null} ? ${credentials} : ''"></p>
    </div>

<form taction="/login" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>
<a href="/"> return to  home page </a>
</div>
</body>
</html>
