<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="copy">
<nav class="navigation">
<div class="container">
    <div class="row">
        <div class="log-in-field col-lg-9 col-md-9 col-sm-9 col-xs-9">

        </div>
        <div class="cart-field col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div>
                <div th:text="${numberOfCarts}"></div>
            </div>
        </div>
    </div>
</div>
</nav>
</div>
</html>