<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="copy">
    <nav class="navigation">
        <div class="container">
            <div class="pull-left">
                <a href="/" class="home-icon">

                    <img src=""
                         th:attr="src='/img/cement.jpg'" height="70" width="auto"></img></a>
            </div>

                <div class="cart-field pull-right">
                    <div>


                            <div id="cart-counter" class="col-lg-8"
                                 th:text="${numberOfProdutsInCart}"></div>
                            <a href="/cartview" class="cartbutton col-lg-4 pull-right "><span
                                    class="glyphicon glyphicon glyphicon-shopping-cart"></span></a>
                        </div>
                    </div>
                </div>

    </nav>
</div>
</html>